<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-34 p-t-27">
                    Number To Words
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input [(ngModel)]="userName" class="input100" type="text" name="username" placeholder="User Name">
                    <span class="focus-input100 " data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input [(ngModel)]="number" class="input100" type="text" name="number" placeholder="Amount of Money">
                    <span class="focus-input100" data-placeholder="&#xf19a;"></span>
                </div>

                <span class="message" >{{numberAsWords}}</span>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="submit()" >
                        Show Written Number
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
